<div class="question">HOW OLD ARE YOU?</div>
<ul class="answers">
  <li><input type="radio" name="answer_radio"><div class="radio-button"></div>FOUR WORDS ANSWER EXAMPLE</li>
  <li><input type="radio" name="answer_radio"><div class="radio-button"></div>OPTION 2</li>
  <li><input type="radio" name="answer_radio"><div class="radio-button"></div>THREE WORDS EXAMPLE</li>
  <li><input type="radio" name="answer_radio" value=""><div class="radio-button"></div>OPTION 4</li>
</ul>
