                <div class="episodes-view">
                    <span id="episode1" class="episode enabled">
                        <span class="icon-container"><!--
                         --><span class="episode-icon">
                            </span>
                            <div class="caption-container">
                              <div class="caption">Episode 1</div>
                            </div>
                            <p class="motivation">
                              6 more movies<br>
                              are between you<br>
                              and your prize!<br>
                            </p>
                        </span>
                    </span><!--
                 --><span id="episode2" class="episode enabled current">
                        <span class="episode-path"></span><!--
                     --><span class="icon-container"><!--
                         --><span class="episode-icon">
                            </span>
                            <div class="caption-container">
                              <div class="caption">Episode 2</div>
                            </div>
                            <p class="motivation">
                              5 more movies<br>
                              are between you<br>
                              and your prize!<br>
                            </p>
                        </span>
                    </span><!--
                 --><span id="episode3" class="episode disabled">
                        <span class="episode-path"></span><!--
                     --><span class="icon-container"><!--
                         --><span class="episode-icon">
                            </span>
                            <div class="caption-container">
                              <div class="caption">Episode 3</div>
                            </div>
                            <p class="motivation">
                              4 more movies<br>
                              are between you<br>
                              and your prize!<br>
                            </p>
                        </span>
                    </span><!--
                 --><span id="episode4" class="episode disabled">
                        <span class="episode-path"></span><!--
                     --><span class="icon-container"><!--
                         --><span class="episode-icon">
                            </span>
                            <div class="caption-container">
                              <div class="caption">Episode 4</div>
                            </div>
                            <p class="motivation">
                              3 more movies<br>
                              are between you<br>
                              and your prize!<br>
                            </p>
                        </span>
                    </span><!--
                 --><span id="episode5" class="episode disabled">
                        <span class="episode-path"></span><!--
                     --><span class="icon-container"><!--
                         --><span class="episode-icon">
                            </span>
                            <div class="caption-container">
                              <div class="caption">Episode 5</div>
                            </div>
                            <p class="motivation">
                              2 more movies<br>
                              are between you<br>
                              and your prize!<br>
                            </p>
                        </span>
                    </span><!--
                 --><span id="episode6" class="episode disabled">
                        <span class="episode-path"></span><!--
                     --><span class="icon-container"><!--
                         --><span class="episode-icon">
                            </span>
                            <div class="caption-container">
                              <div class="caption">Episode 6</div>
                            </div>
                            <p class="motivation">
                              1 movie<br>
                              is between you<br>
                              and your prize!<br>
                            </p>
                        </span>
                    </span><!--
                 --><span id="path-to-present" class="disabled"></span><span id="present"></span>
            </div>