

                <div class="episodes-view">
                  <% episode = 1 %>
                  <% @interactive_videos.each do |interactive_video| %><span id="episode<%= episode%>" class="episode disabled">
                        <% if episode > 1%><span class="episode-path"></span><!--
                     --><% end %><span class="icon-container"><!--
                         --><span class="episode-icon">
                            </span>
                            <div class="caption-container">
                              <div class="caption">Episode <%= episode %></div>
                            </div>
                            <p class="motivation">
                              <% i = @interactive_videos.length + 1 - episode %>
                              <%= raw i == 1 ? "One movie <br>is " : " #{i} more movies <br>are " %>
                              between you<br>
                              and your prize!<br>
                            </p>
                        </span>
                    </span><!--
                    <% episode += 1 %>
                 --><% end %><span id="path-to-present" class="disabled"></span><span id="present"></span>
            </div>