<h3>LCWE</h3>
Life Changing Web Experiences is an edutainment process designed to help teens to keep their life safe and happy. Our mission is to create a positive behavioral change among teens in key issues using special "tools for life".
                                      
<h3>About the Project:</h3>
Created with engagement in mind, Cinema Drive Web Experience enables users to make critical decisions that impact the plot in each episode.