<h1>CONFIRM YOUR ACCOUNT</h1>
<br>
Thank you for registering<br>
An email has been sent to you<br>
To confirm and activate your account please check your inbox and click on the link found in the email we just sent you<br>
<br>
<a href="/">Return to main page</a>