<div id="text-page">
  <div id="content-menu">
    <ul>
      <li target="about" class="selected">ABOUT</li>
      <li target="terms">TERMS OF SERVICE</li>
    </ul>
  </div>
  <div id="text-container">
    <div class="text-content active" id="about">
      <%= render "about" %>
    </div>
    <div class="text-content" id="terms">
      <%= render "terms" %>
    </div>
  </div>
</div>