<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8" />
		<title>Cinema Drive</title>
	</head>

	<body>
		Temporary mobile page.
		<br><br><br>
		<%= link_to image_tag('google_play_store_badge.png', {style: "width: 172px; height: 60px;"}), '#' %>
		<br>
		<%= link_to image_tag('apple_store_badge.png', {style: "width: 172px; height: 60px;"}), '#' %>
		<br>
	</body>

</html>