<tr class="fields">
	<td><%= f.association :notification, prompt: t(:please_select), label: false %></td>
	<td><%= f.input :relative_time_sec, label: false %></td>
    <td><%= f.link_to_remove t(:remove), label: false %></td>
</tr>