<h1><%= t('activerecord.models.operator_mobile_station') %></h1>

<%= render 'form' %>

<%= link_to t(:show), @operation_operator_mobile_station %> |
<%= link_to t(:back), operation_operator_mobile_stations_path %>
