<h1><%= t('activerecord.models.operator_mobile_station') %></h1>

<% [:id, :operator_id, :code, :created_at, :updated_at].each do |attribute| %>
    <p>
      <strong><%= t("activerecord.attributes.operator_mobile_station.#{attribute}") %>:</strong>
      <%= @operation_operator_mobile_station.send(attribute) %>
    </p>
<% end %>

<%= link_to t(:edit), edit_operation_operator_mobile_station_path(@operation_operator_mobile_station) %>
