<% if object.errors.any? %>
	<div id="error_explanation">
		<h2><%= t(:please_fix) + ' ' + pluralize(object.errors.count, t(:error)) %>:</h2>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>