<% if CustomDeviseMailer.api_version? %>

	<p>Hello <%= @player.email %>!</p>

	<p>There has been a request to change your password.  You may use this link to choose a new password:</p>

	<p><%= @token %></p>

	<p>Please ignore this email if you do not wish to make any password changes.</p>

<% else %>

	<p>Hello <%= @resource.email %>!</p>

	<p>SThere has been a request to change your password.  You may use this link to choose a new password:</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

	<p>Please ignore this email if you do not wish to make any password changes.</p>

<% end %>