<h1><%= t('activerecord.models.language_code') %></h1>

<p>
  <strong>Name:</strong>
  <%= @admin_language_code.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @admin_language_code.code %>
</p>

<%= link_to t(:edit), edit_admin_language_code_path(@admin_language_code) %>