<h1>INVITE A FRIEND</h1>
<!--[if lt IE 9]>
<div class="ie7-fix">
<![endif]-->
    <%= form_tag invites_path, id: 'invite-form', :method => 'put', format: :js, remote: true do %>

        <%= text_field_tag 'friend_email', nil, placeholder: "YOUR FRIEND'S EMAIL",
                           id: 'friends-email', class: 'form-control', autocomplete: 'off' %>
        <%= text_area_tag :message, "", id: 'invite-note', placeholder: "ADD A NOTE (OPTIONAL)" %>

        <%= submit_tag(value = "SEND INVITATION", options = { id: 'send-invite-btn', class: 'button' }) %>
    <% end%>

<!--[if lt IE 9]>
</div>
<![endif]-->