@import "bootstrap.min";
body { padding-top: 70px; } // because of fixed navbar


// Blocks

.main-container {
	@extend .container;
}


// Misc

.special-btn {
	@extend .btn;
	@extend .btn-mini;
	@extend .btn-success;
}

.table-toolbar-right {
	float: right;
}

.table-toolbar-left {
	float: left;
}

// Records table

.records-table {
	@extend .table;
	@extend .table-striped;
	@extend .table-hover;
}

.show-record-link {
	@extend .btn;
	@extend .btn-mini;
	@extend .btn-default;
}

.edit-record-link {
	@extend .btn;
	@extend .btn-mini;
	@extend .btn-default;
}

.destroy-record-link {
	@extend .btn;
	@extend .btn-mini;
	@extend .btn-danger;
}

.column-sort-asc {
	padding-right: 12px;  
	background-repeat: no-repeat;  
	background-position: right center;
	background-image: url(/images/up_arrow.gif);
}

.column-sort-desc {
	padding-right: 12px;  
	background-repeat: no-repeat;  
	background-position: right center;
	background-image: url(/images/down_arrow.gif);
}


.action-column {
	@extend .shrinked-column;
}

.shrinked-column {
	width: 1px;
	white-space: nowrap !important;
}

// Forms

.field_with_errors {
	@extend .has-error;
}

#error_explanation {
	@extend .alert;
	@extend .alert-warning;	
}

.ui-autocomplete-loading {
    background: url('/images/ajax_loader.gif') no-repeat 98% 50% !important;
}

// .field {
// 	@extend .form-group;
// }

// .field input:not([type=checkbox]) {
// 	@extend .form-control;
// }

input[type=submit] {
	@extend .btn;
	@extend .btn-primary;
}


// Flash messages

.alert-msg-notice {
	@extend .alert;
	@extend .alert-info;
}

.alert-msg-success {
	@extend .alert;
	@extend .alert-success;
}

.alert-msg-error {
	@extend .alert;
	@extend .alert-warning;	
}

.alert-msg-alert {
	@extend .alert;
	@extend .alert-danger;	
}


/* typography */


h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
