<h1><%= t('activerecord.models.system_admin') %></h1>

<% [:id, :email, :first_name, :last_name, :super_admin, :created_at, :updated_at].each do |attribute| %>
    <p>
      <strong><%= t("activerecord.attributes.system_admin.#{attribute}") %>:</strong>
      <%= @admin_system_admin.send(attribute) %>
    </p>
<% end %>

<%= link_to t(:edit), edit_admin_system_admin_path(@admin_system_admin) %>
