<span class="programName">CINEMA DRIVE</span>
<span class="menuItem" id="home_link">HOME - MEDIA PLAYER</span>
<span class="menuItem blue" id="scores_link">POINT & RULES</span>
<span class="menuItem" id="invite_link">INVITE A FRIEND</span>
<span class="menuItem" id="instructions_movie">INSTRUCTION VIDEO</span>
<span class="menuItem" id="about_link">ABOUT/TERMS</span>

<% if player_signed_in? %>
<span id="account"><%= t(:hi_player, first_name: current_player.first_name).upcase %>
	<span id="logout" class="blue"><%= link_to t(:log_out).upcase, '#',
                                               id: 'logout', class: 'active' %></span>
</span>
<% end %>