<span class="programName">CINEMA DRIVE</span>
<span class="menuItem">ABOUT</span>
<span class="menuItem">INVITE FRIENDS</span>
<span class="menuItem blue">POINTS & PRIZES</span>

<% if player_signed_in? %>
<span id="account"><%= t(:hi_player, first_name: current_player.first_name).upcase %>
	<span id="logout" class="blue"><%= link_to t(:log_out).upcase, destroy_player_session_path, :method => :delete %></span>
</span>
<% end %>